/* colors : 
noir : #0D0B07
gris foncé: #5D5B57
gris: #AAA8A5
gris clair: #F7F5F3
rouge clair: #CC0C0D
rouge: #951317
rouge foncé: #7F0B07
*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F7F5F3;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    padding-top: 5vh;
}

section {
	flex-grow: 1;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

a {
    color: #0D0B07;
}
a:hover {
    color: #F7F5F3;
    text-decoration: none;
}

footer {
    background-color: #AAA8A5;
    color: #0D0B07;
}


.bg-img{
    background: url('img/spy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

#menu {
    background-color: #F7F5F3;

}

#login-body {
	max-width: 450px;
	margin: auto;
	background-color: #0D0B07;
	border-radius: 5px;
	padding: 50px;
	margin: 70px auto 30px auto;
    color:#F7F5F3;
    font-size: 1em;
    font-size: 18px;
    opacity: 0.9;
}

#option {
	font-size: 0.9em;
}

#login-btn {
	width: 100%;
    background-color: #CC0C0D;
	color: #F7F5F3;
	font-weight: bold;
    border:0;
	cursor: pointer;
    font-size: 18px;
   
}


